# 虚拟水贸易复杂度

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
crop_list = [
    "wheat", 
    "maize", 
    "rice", 
    "sorghum", 
    "barley", 
    "millet", 
    "potato", 
    "sweetpotato", 
    "soybean", 
    "groundnuts", 
    "sunflower", 
    "rapeseed", 
    "sugarbeet", 
    "sugarcane", 
    "cotton", 
    "spinach", 
    "tomato", 
    "cabbage", 
    "apple", 
    "grape", 
    "tea", 
    "tobacco"
]

i = 0
test = pd.read_excel(r"WF_crop_consumption_China_at_provincial_level_1978-2009.xlsx", header=1)

title = test.iloc[1:, :3]
test.iloc[:, 8: 11]

     NVWI_Inter_Blue  NVWI_Inter_Green  NVWI_Inter_Total
0         -57.787101        -32.407631        -90.194733
1          28.909132         45.301547         74.210679
2         135.186161        213.299732        348.485893
3          95.944858         79.280064        175.224922
4         151.557236        137.672484        289.229720
..               ...               ...               ...
987     -1418.946607       -801.497037      -2220.443644
988     -1288.144471       -513.245063      -1801.389534
989      -945.356963       -398.400435      -1343.757398
990     -1387.020494       -445.965617      -1832.986111
991     -1908.416456       -538.597533      -2447.013989

[992 rows x 3 columns]

In [10]:
def get_table_by_colname(variable, file=r"WF_crop_consumption_China_at_provincial_level_1978-2009.xlsx"):
    result = title.copy()
    for i in range(len(crop_list)):
        crop = crop_list[i].title()
        tmp_data = pd.read_excel(file, sheet_name=f"{i+1}" + crop, header=1)
        result[crop] = tmp_data[variable]
    result.to_csv(f"data/{variable}.csv", index=False)
    return result

# total = get_table_by_colname("NVWI_Inter_Total")

In [4]:
total.head()

,Province Name,Province Code,Year,Wheat,Maize,Rice,Sorghum,Barley,Millet,Potato,...,Sugarbeet,Sugarcane,Cotton,Spinach,Tomato,Cabbage,Apple,Grape,Tea,Tobacco
1,Beijing,1,1979,74.210679,-202.548988,2167.611662,61.573556,25.898248,29.656194,60.822362,...,11.277791,31.530283,116.525242,-0.104435,5.044138,-0.115169,28.187313,-0.193126,36.908690,15.343575
2,Beijing,1,1980,348.485893,-469.240228,2008.891652,53.501047,32.405392,22.104911,45.497017,...,14.678364,29.944721,29.906058,-0.240176,4.356198,0.569861,29.046517,-0.241483,24.442461,11.350282
3,Beijing,1,1981,175.224922,-444.356016,2131.742579,59.675153,26.896964,17.714209,50.540135,...,15.156194,34.371399,129.736882,-0.482566,5.245837,0.518346,34.524341,-0.265388,27.687077,8.326199
4,Beijing,1,1982,289.229720,-561.901821,2040.696637,58.443023,24.713817,22.545120,58.807665,...,14.813250,42.501599,251.251187,-0.489691,5.228399,0.859771,35.401587,-0.332403,28.831569,19.395867
5,Beijing,1,1983,243.458895,-423.612109,2111.827123,48.704464,27.112838,28.133320,51.146220,...,18.288732,52.172649,376.820049,-0.385395,5.030235,0.818365,27.018137,-0.391425,29.650808,14.111434

In [8]:
wfc_total = get_table_by_colname("WFC_Total")
wfc_total.head()

,Province Name,Province Code,Year,Wheat,Maize,Rice,Sorghum,Barley,Millet,Potato,...,Sugarbeet,Sugarcane,Cotton,Spinach,Tomato,Cabbage,Apple,Grape,Tea,Tobacco
1,Beijing,1,1979,617.547896,60.437073,2343.256270,45.700781,26.911140,75.086795,44.991619,...,11.277791,31.411577,663.830236,2.260088,5.044138,7.856318,31.526908,1.265691,38.720057,16.447239
2,Beijing,1,1980,1111.926279,43.143862,2490.465191,42.907357,31.351073,64.497354,36.750409,...,13.992885,29.791193,833.483415,2.295003,4.356198,9.073042,31.715390,1.902593,25.575275,13.306783
3,Beijing,1,1981,971.385411,44.144810,2423.643499,47.825022,26.369532,61.369283,41.343723,...,14.626284,33.709548,777.898794,2.655591,5.245837,9.992012,37.453946,2.013961,28.829831,13.014545
4,Beijing,1,1982,1140.832636,47.628540,2296.929321,47.801954,24.690771,76.263507,49.170477,...,14.294262,41.296504,782.885246,3.137688,5.228399,11.162556,38.985738,2.535777,30.061018,23.051546
5,Beijing,1,1983,969.258564,47.344495,2445.636996,38.796732,26.708460,74.602222,43.820407,...,17.769103,50.151361,753.247386,2.871164,5.030235,10.850447,30.789318,3.217925,31.003073,15.696171

## WF 1961-2009

看看WF与WFC有什么区别

In [11]:
wf_total = get_table_by_colname("WF_Total", file="WF_crop_production_China_at_provincial_level_1961-2009.xlsx")
wf_total.head()

,Province Name,Province Code,Year,Wheat,Maize,Rice,Sorghum,Barley,Millet,Potato,...,Sugarbeet,Sugarcane,Cotton,Spinach,Tomato,Cabbage,Apple,Grape,Tea,Tobacco
1,Beijing,1,1979,324.000000,595.704498,0.0,0.0,0.0,196.700000,4.181968,...,0.0,0.0,0.0,4.906000,0.0,10.820000,0.280000,0.728000,0.0,0.343293
2,Beijing,1,1980,237.001988,577.292573,0.0,0.0,0.0,210.171257,4.001708,...,0.0,0.0,0.0,3.333038,0.0,8.553046,0.306101,0.652284,0.0,0.412819
3,Beijing,1,1981,317.000000,590.641726,0.0,0.0,0.0,206.600000,3.514350,...,0.0,0.0,0.0,2.701000,0.0,6.253000,0.380000,0.657900,0.0,0.398832
4,Beijing,1,1982,400.018975,615.517766,0.0,0.0,0.0,203.056598,3.581807,...,0.0,0.0,0.0,3.316230,0.0,7.647706,0.326547,0.884355,0.0,0.449237
5,Beijing,1,1983,589.000000,774.065342,0.0,0.0,0.0,215.900000,2.916651,...,0.0,0.0,0.0,3.130000,0.0,6.380000,0.700000,0.883000,0.0,0.476408